*.DS_Store
.AppleDouble
.LSOverride
ICon
._*
.vscode
.php-version

# environment
.env
.env.test

# Logs
*.log

# Coverage directory used by tools like istanbul
coverage

# Dependency
node_modules
.nyc_output
vendor

# Distribution
public
dist
!dist/.gitkeep

